body {
    background-color: rgb(220, 241, 245);
}
h1 {
    text-align: center;
    font-style: italic;
    border-color: aliceblue;
}

h2 {
    text-align: center;
    font-style: italic;
    border-color: aliceblue;
    border-width: 5px;
    width: 300px;
    padding: 50px 40px 30px 10px;
    margin: 30px;
    height: 100px;
    background-image: url('wow.jpg');
    background-size: 50% 50%;
}

.hue {
    text-align: center;
    font-style: oblique;
    font-family: Helvetica, sans-serif;
    font-size: 24;
    background-color: rgb(174, 208, 238);
}

#huehue {
    text-align: center;
    font-style: italic;
    font-family: monospace;
    font-size: 24;
    background-color: rgb(174, 208, 238);
}